html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card-open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card-show {
    font-size: 33px;
}

.deck .card-match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


.score-panel .restart {
    font-size: 20px;
    float: right;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.restart:hover{
    color: #02ccba;
}

.showpop{
    display: flex;
}
.hidepop{
    display: none;
}
#modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
    transition: 300ms ease-in-out;
}
#modal .scoresheet{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background: white;
    text-align: center;
}
#modal button{
    padding: 7px 14px;
    font-size: 20px;
    color: #02ccba;
    border: none;
    border: 1px solid #02ccba;
    border-radius: 20px;
    background: rgba(0,0,0,0);
}

#modal button :hover{
    border-radius: 20px;
}